<% layout('layout') -%>
    <div class="container">
        <form class="form-horizontal" role="form" method="post" id="chgform" action="<%=apphome%>/user/change">
            <input type="hidden" name="_csrf" value="<%=csrfSecret%>">
            <div class="form-group">
                <label  class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <legend>Change Password</legend>
                    <span class="text-<%=resp.status.level%>"><%=resp.status.text%></span>
                </div>
            </div>
            <div class="form-group">
                <label for="oldPassword" class="col-sm-2 control-label">Old Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="oldPassword" placeholder="Old Password" required>
                    <span id="oldPasswordErr"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="inputPassword" placeholder="New Password" required>
                    <span id="inputPasswordErr"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword2" class="col-sm-2 control-label">Confirm New Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="inputPassword2" placeholder="confirm new password" required>
                    <span id="inputPassword2Err"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <input id="inputBtn" class="btn btn-lg btn-primary btn-block" type="submit" value="Change Password" >
                </div>
            </div>
        </form>
    </div>

